/* Author: Lily Wu
   Date: June 9, 2017 */

   #topRow {
    margin: 40px auto;
    width: 90%;
   }

   #heading {
    height: 80px;
    float: left;
    font-size: 45px;
   }

   .colorBoxes {
    height: 80px;
    width: 100px;
    border: 2px solid black;
    float: right;
    margin: 0 0 0 10px;
   }

   #yellowBox {
    background-color: yellow;
   }

   #blueBox {
    background-color: blue;
   }

   #redBox {
    background-color: red;
   }

   .row {
    height:80px;
   }

   .square {
    height: 80px;
    float: left;
    border: 2px solid #d3d3d3;
   }

   .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
